@model EntityLayer.Concrete.Writer
@{
    ViewBag.Title = "Titles";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var contents = ViewData["Contents"] as List<EntityLayer.Concrete.Content>;


}
<body class="hold-transition sidebar-dark-blue">
    <div class="container">
        <!-- Content Wrapper. Contains page content -->
        <div class="">

            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Profile</h1>
                        </div>

                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3">

                            <!-- Profile Image -->
                            <div class="card card-primary card-outline">
                                <div class="card-body box-profile">
                                    <div class="text-center">
                                        <img class="profile-user-img img-fluid img-circle"
                                             src="@Model.WriterImage"
                                             alt="User profile picture">
                                    </div>

                                    <h3 class="profile-username text-center">@Model.WriterName @Model.WriterSurname</h3>

                                    <p class="text-muted text-center">@Model.WriterTitle</p>



                                    <a href="/Hakan/Hakan/" class="btn btn-primary btn-block"><b>Follow</b></a>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                            <!-- About Me Box -->
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">About Me</h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <strong>
                                        <i class="fas fa-book mr-1"></i> Regarding
                                    </strong>

                                    <p class="text-muted">
                                        @Model.WriterAbout
                                    </p>
                                    <sub> @contents.FirstOrDefault().ContentDate.ToString("dd.MM.yyyy HH:mm")</sub>
                                </div> 
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                        <div class="col-md-9">

                            <div class="card">
                                <div class="card-body">
                                    <div class="tab-content">
                                        <div class="active tab-pane" id="activity">
                                            <!-- Post -->
                                            <div class="post">
                                                <div class="user-block">
                                                    <img class="img-circle img-bordered-sm" src="@Model.WriterImage" alt="user image">
                                                    <span class="username">
                                                        @Model.WriterName @Model.WriterSurname

                                                    </span>
                                                    <span class="description"> test </span>
                                                </div>
                                                <!-- /.user-block -->
                                                <p>
                                                    add new message
                                                </p>

                                            </div>

                                        </div>
                                        <!-- /.tab-pane -->
                                        <!-- /.tab-pane -->
                                        <!-- /.tab-pane -->
                                    </div>
                                    <!-- /.tab-content -->
                                </div><!-- /.card-body -->
                            </div>

                            <!-- /.nav-tabs-custom -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
    </div>

</body>
